<%- include("partials/header.ejs")  %>

<div class="date-container">
    <div>
        Work List
    </div>
</div>


<div class="container">
<div class="tasks-container">
    <% if(locals.works){ %>
    <% for(let i=0;i<works.length;i++){ %>
    <div> 
        <form action="/deleteWork" method="post">
            <input class="chk" name="checkBox" value=<%= works[i].id %> type="checkbox" onChange="this.form.submit()">
             <p><%= works[i].name %></p> 
            </form>
    </div>  
    <hr width="100%" style="margin: 0; padding: 0;">
        <% } %>
        <% } %>
     <div>
    <form action="/work" method="post">
        <input type="text" placeholder="new item" name="task">
        <button class="add-btn" value="add" type="submit">+</button>
    </form>
    </div>
</div>
</div>
<%- include("partials/footer.ejs")  %>
